body{
    background: #FFF7E8 !important;
    --fill-layer-video-opacity: 0.42;
    --bg-gradient: linear-gradient(180deg, #802238 0%, #9F1037 100%);
    --bg-overlay-color: transparent;
    --inherit-transition: var(--transition, none);
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    border-top: 10px solid #AA7F4D;

}
.container-sec{
    display: inline-block;
    margin: 0px auto;
    width: 98%;
    padding: 0.5px;
}

.banner-sec{
    background-color: #FFF7E8;
    width: 40%;
    margin: 1rem auto;
    border-radius: 40px 40px;
    padding-bottom: 2rem;
}

.logo{
    display: inline-block;
    margin: 0px auto;
    width: 90% !important;
}
.logo img{
    width: 100%;
}

.text-title{
    display: inline-block;
    margin: 0px auto;    
    padding-top: 10px;
    text-align: center;
    width: 65%;
}
.text-title h2, h3{
    font-weight: bold !important;
    text-align: center;
    color: #6E2133 !important;
}

.content-sec{
    background-color: #FFF7E8;
    width: 95%;
    height:   auto;
    margin: 1rem auto;
    border-radius: 40px;
    padding: 1rem !important;

}

.footer-sec{
    margin: 0px auto;
    text-align: center;
}

.footer-sec img{
    margin: 0px auto;
    width: 15%;
}

.icon-file {
    width: 30px !important;
}